<div class="container">
    <form method="GET" action="/users/account">
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username..." required>
        </div>
        <div class="mb-3">
            <label for="userpassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="userpassword" name="password" placeholder="Password..." required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="mt-4">
        <p>Don't have n account yet? <a href="/users/signup" class="link-primary">Sign up</a></p>
    </div>
</div>