<div class="container">
    <form method="POST" action="/users/signup">
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username..." required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password..." required>
        </div>
        <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="confirmpassword" name="password" placeholder="Password..." required>
        </div>
        <button type="submit" class="btn btn-primary">signup</button>
    </form>

    <div class="mt-4">
        <p>Already have an account? <a href="/users/login" class="link-primary">Log in</a></p>
    </div>
</div>